body{
	background-color: black;
}

div.code{
	width: 640px;
	height: 328px;
	background-color: white;
	display: inline-block;
	justify-content: center;
	margin: 170px 400px;
	border-radius: 4px;
	padding: 30px;
	position: relative;
}

h3{
	text-align: center;
	font-family: 'Sora', sans-serif;
	font-size: 16px;
}

p{
	display: flex;
	justify-content: center;
	color: #A9A9A9;
	font-size: 14px;
	font-family: 'Sora', sans-serif;
	text-align: center;
}

input{
	width: 48px;
	height: 48px;
	border-radius: 12px;
	border: 0.5px solid #DADADA;
	background-color: #FFFFFF;
	box-sizing: border-box;
	color: black;
    font-family: 'Sora', sans-serif;
	font-size: 24px;
	text-align: center;
}

.n1{
	position: absolute;
	top: 150px;
	left: 230px;
}

.n2{
	position: absolute;
	top: 150px;
	left: 290px;
}

.n3{
	position: absolute;
	top: 150px;
	left: 350px;
}

.n4{
	position: absolute;
	top: 150px;
	left: 410px;
}

button{
	width: 384px;
	height: 48px;
	background-color: #232529;
	position: absolute;
	top: 270px;
	left: 160px;
	color: white;
	border: 0;
	font-family: 'Sora', sans-serif;
	font-size: 20px;
}
