body{
	background-color: black;
}

div.sign{
	width: 640px;
	height: 264px;
	background-color: white;
	display: inline-block;
	justify-content: center;
	margin: 180px 400px;
	border-radius: 10px;
	padding: 30px;
	font-family: 'Sora', sans-serif;
}

h3{
	text-align: center;
	font-size: 16px;
}


input{
	width: 608px;
	height: 48px;
	font-family: 'Sora', sans-serif;
}

button{
	width: 384px;
	height: 48px;
	background-color: #232529;
	color: white;
	margin: 8px 95px;
	border: 0;
	font-family: 'Sora', sans-serif;
	font-size: 22px;
	position: absolute;
	top: 390px;
	left: 470px;
}